body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343c4);
    background: linear-gradient(to right, #000000, #4343439d),
        url("https://a.allegroimg.com/original/1e4474/36fd9fa94b228db1df209e5014ac") no-repeat center right fixed;
    background-size: 100%;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.problem-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#problem {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 0; 
}

.space {
    height: 20px; 
}

@media (max-width: 767px) {
    body {
        background-size: auto; 
        background-position: center; 
    }
}
